/* CSS header/footer */

/* Google fonts */
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap");
/* font-family: 'Orbitron', sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Turret+Road:wght@400;700&display=swap");
/* font-family: 'Turret Road', cursive; */

/* General */
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  /* Lagt til background som en del av denne css'en */
  background-image: url(/src/images/pexels-pixabay-41951.jpg);
  /* background-size: auto;
  background-position: center; */
  background-size: cover;
  color: white;
  font-family: Orbitron, sans-serif;
}

/* Typography */
/* All headings */
.navItem,
.footerItem,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Orbitron", sans-serif;
  font-weight: 700;
}

/* All paragraphs */
p {
  font-family: "Turret Road", cursive;
  font-weight: 400;
}

/* Header */
.navBar {
  display: flex;
  justify-content: flex-end;
  background-color: #120402;
  color: white;
}

.navItem {
  text-align: center;
  padding: 0 25px;
}

/* Main */
.content {
  /* height: 100vh; */
  flex: 1 0 auto;
}

/* Anchor status */
a:link {
  color: white;
}

a:visited {
  color: white;
}

/* Change to whatever the hexcode is - fixed */
a:hover {
  color: #c0632b;
}

a:active {
  color: white;
}

/* Footer */
.footer {
  background-color: #120402;
  color: white;
  flex-shrink: 0;
  /* position: fixed;
  left: 0;
  right: 0;
  bottom: 0; */
}

.footerItem {
  text-align: center;
  padding: 10px;
}

/* STICKY FOOTER */
/* body, html MÅ ha height: 100%; 
.content (rundt all content på siden din) MÅ ha height: 100vh; OG flex: 1 0 auto;
footer MÅ ha flex-shrink: 0; */

/*----------------------------Form---------------------------------*/
.flexbox {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  border: #120402 solid 3px;
  background-color: #7c2f1eb0;
  width: 400px;
  margin: 80px auto;
  padding: 20px;
  border-radius: 30px;
}

.flexButton {
  display: flex;
  justify-content: center;
}

textarea {
  resize: none;
}

.submitButton {
  width: 100px;
  height: 30px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  font-family: Orbitron, sans-serif;
}

.submitButton:hover {
  background-color: #7c2f1eb0;
}
